@charset "UTF-8";
/*Mobile first*/
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Keania+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kumar+One&display=swap');
@font-face {
    font-family: 'Bebas Neue';
    src: url('/fonts/BebasNeue-Regular.ttf') format('truetype');
}

:root{
    /*The fonts for my site*/
    
    --font-subtitle:'Nova Mono', monospace;
    --font-title: 'Faster One', cursive;
    --font-title00: 'Keania One', cursive;
    --font-title01: 'Kumar One', cursive;
    --font-paraphy: 'Bebas Neue', cursive;
    --font-body: Arial, Helvetica, sans-serif;
   
    /*The color for  my site*/
   
    --color00: #FFC400;
    --color01: #038c17;
    --color02: #15118C;
    --color03: #025918;
    --color04: #0039FF;
    --color05: #025E73;
    --color06: #1E92B4;
    --color07: #02E3BB;

}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to top, var(--color06), var(--color05));
    background-attachment: fixed;
    font-family: var(--font-body);
}
/*Set the header*/
header{
    padding: 30px;
    text-align: center;
}
/*Set the h1 */
header h1{
    font-family: var(--font-title00);
    font-weight: normal;
    border-top: 4px solid var(--color01); 
    border-bottom: 4px solid var(--color00); ;
    padding: 10px;
    background-color: var(--color07);
    font-size: 2.5em;
    border-radius: 10px;
}
main#principal{
    display: flex;
    justify-content:center;
    flex-flow: column wrap;
    align-items: center;
    padding: 0px 10px;
}
section#galarry{
    flex: 100%;
    max-width: 100%;
    transition: width 2s;
    transition-delay: 1s;
    transition-timing-function: ease-in-out;
}
/*Onganize de image of back page*/
#back-img{
    padding: 10px;
}
/*Onganize de image of back page*/
#back-img >a{
    display: block;
    text-align: center;
    color: black;
    
}
span.material-symbols-outlined{
    font-size: 3em;
    font-weight: bolder;
    text-align: center;
    background-color: var(--color00);
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 4px 2px #0000006b;
}
div.photos{
    border: 2px solid white;
    background-color: white;
    box-shadow: 0px 0px 5px 4px #00000080;
    margin: 20px 0px;
    border-radius: 5px;
    transition-delay: 1s;
    
}
div.photos:hover{
    border: 2px solid var(--color00);
}
div.photos img{
    width: 100%;
    height: auto;
    vertical-align: middle;
}
p.description{
    padding: 15px;
    text-align: center;
    line-height: 1.5;
    text-indent: 1em;
    
}

/*Media Query for medium devices*/
@media screen and (min-width: 768px) and (max-width: 992px) {
    section#galarry{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    div.photos{
        flex: 50%;
        max-width: 30%;
        flex-basis: 250px;
    }
   
}
/*Media Query for Large devices*/
@media screen and (min-width: 992px) {
    section#galarry{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    div.photos{
        flex: 50%;
        max-width: 40%;
       
        
    }
   
}
