@charset "UTF-8";

/*Media Query for tablet*/
@media screen and (min-width: 768px) and (max-width: 992px){
    .paragraphy{
        margin-left: 10px;
        margin-right: 10px;
        
    }
     
   
    
}
/*Media Query for desktop and tv*/
@media  screen and (min-width: 992px){
    .paragraphy{
        margin-left: 10px;
        margin-right: 10px;
        
    } 
}
/*Media Query for print*/
@media print{
    body{
        width: 100vw;
    }
    main article{
        box-shadow: none;
        padding: 5px;
        border: none;

    }
    header h1{
        border: none;
        padding: 0px;
        font-size: 2em;
    }
    .paragraphy p{
        font-size: 1em;
    }
    #back a{
        display: none;
    }
    section{
        padding: 5px;
    }
    section h2{
        padding-bottom: 2px;
    }
}
/* width: 650px;
margin: auto;*/