
@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Keania+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kumar+One&display=swap');

:root{
    /*The fonts for my site*/
    
    --font-subtitle:'Nova Mono', monospace;
    --font-title: 'Faster One', cursive;
    --font-title00: 'Keania One', cursive;
    --font-title01: 'Kumar One', cursive;
   
    /*The color for  my site*/
   
    --color00: #FFC400;
    --color01: #038c17;
    --color02: #15118C;
    --color03: #025918;
    --color04: #0039FF;
    --color05: #025E73;
    --color06: #1E92B4;
    --color07: #02E3BB;

}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url('/image/galacticofoto.jpg');
}