
@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Keania+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kumar+One&display=swap');

:root{
    /*The fonts for my site*/
    
    --font-subtitle:'Nova Mono', monospace;
    --font-title: 'Faster One', cursive;
    --font-title00: 'Keania One', cursive;
    --font-title01: 'Kumar One', cursive;
   
    /*The color for  my site*/
   
    --color00: #FFC400;
    --color01: #038c17;
    --color02: #15118C;
    --color03: #025918;
    --color04: #0039FF;
    --color05: #025E73;
    --color06: #1E92B4;
    --color07: #02E3BB;

}

*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    background-color: var(--color02);
    background-image: url('/image/galacticofoto.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
}
header{
    background-image: linear-gradient(to top, var(--color00), var(--color03), var(--color05));
    height: 180px;
    background-attachment: fixed;
    box-shadow: 4px 3px 10px 2px #0000008e;  
}
header h1{
    padding-top: 40px;
    text-align: center;
}
ul li > a{
    display: inline-block;
    list-style-type: none;
    padding-left: 20px;
    padding-top: 20px;
}
nav ul>li{
    display: inline;
    
}