@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Keania+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kumar+One&display=swap');
@font-face {
    font-family: 'Bebas Neue';
    src: url('/fonts/BebasNeue-Regular.ttf') format('truetype');
}
/*Screen for Mobile First*/
:root{
    /*The fonts for my site*/
    
    --font-subtitle:'Nova Mono', monospace;
    --font-title: 'Faster One', cursive;
    --font-title00: 'Keania One', cursive;
    --font-title01: 'Kumar One', cursive;
    --font-paragraphy: 'Bebas Neue', cursive;
    --font-body: Arial, Helvetica, sans-serif;
   
    /*The color for  my site*/
   
    --color00: #FFC400;
    --color01: #038c17;
    --color02: #15118C;
    --color03: #025918;
    --color04: #0039FF;
    --color05: #025E73;
    --color06: #1E92B4;
    --color07: #02E3BB;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    min-height: 100vh;
    background: var(--color02) url(/image/galactico-foto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    font-family: var(--font-body);
}
/*Set the header*/
header{
    background-image: linear-gradient(to top, var(--color00), var(--color03), var(--color05));
    height: 162px;
    background-attachment: fixed;
    box-shadow: 4px 3px 10px 2px #0000008e;  
   
}
/*Set the header h1*/
header h1{
    padding-top: 10px;
    text-align: center;
    font-family: var(--font-title00);
    font-size: 3em;
    color: white;
    font-weight: normal;
}
header h1:hover{
    color: var(--color00);
}
menu{
    display: none;
    
}
nav > menu > ul{
    list-style-type: none;
    
}
nav > menu > ul > li > a{
    text-decoration: none;
    color: white;
    font-family: var(--font-title01);
    background-color: #000000a9;
    display: block;
    text-align: center;
    border: none solid var(--color00);
    margin-top: 0px;
}
nav > menu > ul > li > a:hover{
    background-color: #025E73;
}

span#mobile{
    display: block;
    color: white;
    text-align: center;
    cursor: pointer;
}
span#mobile:hover{
    background-color: #000000a9;
}
img{
    width: 60px;
    display: block;
    margin: auto;
    padding-top: 10px;
}